header {
    background-color: blueviolet;
    color:  beige;
} 

boby { 
    background-color: rgb(20, 11, 11);
    color:aliceblue;
}

footer {
    background-color: aquamarine;
    color:blue;
} 

.imagem-2{
    width: 40%;
    align-items: center;
    margin-left: 200px;
}